version: "3"

services:
  db:
    image: postgres
    restart: always
    container_name: db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=medicalDB
    ports:
      - '5432:5432'
    volumes: 
      - ./db:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/create_tables.sql

  api:
    platform: linux/amd64
    depends_on:
        - db
    build: 
      context: ./
      dockerfile: ./Dockerfile

volumes:
  db:
    driver: local